---
name: Sketchy
on:
  #schedule:
  #  - cron: '30 18 * * *'
  workflow_dispatch:

jobs:
  Zip:
    runs-on: macos-latest
    steps:

      - name: Free up disk space for the CI
        if: false
        uses: AdityaGarg8/remove-unwanted-software@v5
        with:
          remove-android: 'true'
          remove-dotnet: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'
          remove-large-packages: 'true'
          remove-cached-tools: 'true'
          remove-swapfile: 'true'
       
      - name: Create Zip
        run: |
          for i in 0 1 2 3 4 5
          do
          curl -L https://github.com/AdityaGarg8/MBBS/releases/download/sketchy/sketchy.tar.gz.0$i >> sketchy.tar.gz
          done
          shasum -a 256 sketchy.tar.gz
        env:
          GH_TOKEN: ${{ secrets.PAT }}
      - name: Upload zip
        uses: actions/upload-artifact@v6
        with:
          name: "Sketchy"
          path: ${{ github.workspace }}/sketchy.tar.gz
